<%= form_with(model: session) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
        <% session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="field">
    <%= form.label :pause %>
    <%= form.time_select :pause %>
  </div>

  <div class="field">
    <%= form.label :keys %>
    <%= form.number_field :keys %>
  </div>

  <div class="field">
    <%= form.label :backspace %>
    <%= form.number_field :backspace %>
  </div>

  <div class="field">
    <%= form.label :last_key %>
    <%= form.date_select :last_key %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
