<p id="notice"><%= notice %></p>

<h1>Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Pause</th>
      <th>Keys</th>
      <th>Backspace</th>
      <th>Last key</th>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.start %></td>
        <td><%= session.end %></td>
        <td><%= session.pause %></td>
        <td><%= session.keys %></td>
        <td><%= session.backspace %></td>
        <td><%= session.last_key %></td>
        <td><%= session.task_id %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
