<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Deliver date</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.deliver_date %></td>
        <td><%= task.status %></td>
        <td><%= task.user_id %></td>
        <td><%= link_to 'Show', task if policy(task).show? %></td>
        <td><%= link_to 'Edit', edit_task_path(task) if policy(task).update? %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } if policy(task).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin %>
  <%= link_to 'New Task', new_task_path %>
<% end %>