<%= form_with(model: work_session) do |form| %>
  <% if work_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_session.errors.count, "error") %> prohibited this work_session from being saved:</h2>

      <ul>
        <% work_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :start, value: DateTime.now %>
  <%= form.hidden_field :end %>
  <%= form.hidden_field :keys %>
  <%= form.hidden_field :backspace %>
  <%= form.hidden_field :last_key %>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.select :task_id, @tasks %>
  </div>

  <div class= "actions">
    <%= form.submit "Create", class:"w3-btn w3-round-xxlarge w3-deep-orange w3-margin" %>
  </div>
<% end %>
