<%= form_with(model: work_session) do |form| %>
  <% if work_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_session.errors.count, "error") %> prohibited this work_session from being saved:</h2>

      <ul>
        <% work_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <%= form.hidden_field :end %>
  <%= form.hidden_field :pause %>
  <%= form.hidden_field :keys %>
  <%= form.hidden_field :backspace %>
  <%= form.hidden_field :last_key %>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
