<p id="notice"><%= notice %></p>

<h1>Work Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_sessions.each do |work_session| %>
      <tr>
        <td><%= work_session.start %></td>
        <td><%= work_session.end %></td>
        <td><%= work_session.task_id %></td>
        <td><%= link_to 'Show', work_session %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @active_session %>

<%= link_to 'End Session', root_path %>

<% else %>

<%= link_to 'Start Session', new_work_session_path %>

<% end %>